<% if @current_status == :all %>
  <h2><%= @current_status.to_s.humanize %> Orders</h2>
<% else %>
  <h2>Orders with status '<%= @current_status.to_s.humanize %>'</h2>
<% end %>
<div class='mb-3'>
  <h3 class='d-inline'>
    <%= link_to 'All', :orders, class: 'badge badge-dark px-3' %>
  </h3>
  <% order_statuses.each do |status| %>
    <h3 class='d-inline p-1'>
      <%= link_to status.humanize,
                  by_status_orders_path(order_status: status),
                  class: 'badge badge-dark px-3' %>
    </h3>
  <% end %>
</div>
<% if @orders.any? %>
  <%= render @orders, full_view: false %>
<% else %>
  <p>All orders will appear here</p>
<% end %>
