<%= render 'devise/shared/error_messages', resource: restaurant %>
<%= form_for restaurant, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name, required: true %>
  </p>
  <p>
    <%= form.submit class: 'btn btn-dark' %>
  </p>
<% end %>
