<%= render 'devise/shared/error_messages', resource: restaurant%>
<%= form_for restaurant, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', restaurants_path %>
