<p><strong>Title: </strong><%= item.title %></p>
<p><strong>Description: </strong><%= item.description %></p>
<p><strong>Price: </strong><%= item.price %></p>
<p><strong>Restaurant: </strong><%= item.restaurant.name %></p>
<p>
  <%= link_to 'Edit', edit_item_path(item) %>
  <% if defined?(enable_show) && enable_show %>
    <%= link_to 'Show', item_path(item) %>
  <% end %>
  <% unless current_user&.admin? %>
    <%= link_to 'Add to Cart', add_to_cart_link(item), method: :post, remote: true %>
  <% end %>
  <%= link_to 'Destroy', item, method: :delete %>
</p>
