<div class='card'>
  <div class='card-body'>
    <p>
      <strong>Categories: </strong>
      <%= render partial: 'categories/badge', collection: item.categories, as: :category %>
    </p>
    <p class='card-text'><strong>Description: </strong><%= item.description.humanize %></p>
    <p class='card-text'><strong>Price: </strong><%= item.price %></p>
    <p class='card-text'><strong>Restaurant: </strong><%= item.restaurant.name %></p>
    <div class='d-flex justify-content-between align-items-center'>
      <div class='btn-group'>
        <% if can_modify_item?(item) %>
          <%= link_to 'Destroy', item,
                      method: :delete,
                      class: 'btn btn-sm btn-outline-danger' %>
          <% if item.not_retired? %>
            <%= link_to 'Retire',
                        [item, {item: {status: :retired}}],
                        method: :patch, class: 'btn btn-sm btn-outline-info' %>
          <% elsif item.retired? %>
            <%= link_to 'Resume',
                        [item, {item: {status: :not_retired}}],
                        method: :patch, class: 'btn btn-sm btn-outline-success' %>
          <% end %>
          <%= link_to 'Edit',
                      edit_item_path(item),
                      class: 'btn btn-sm btn-outline-secondary' %>
        <% end %>
      </div>
    </div>
    <strong>Photo:</strong>
    <% if item.photo.attached? %>
      <div class='full-image-container bd-placeholder-img card-img-top text-center bg-dark'>
        <%= image_tag url_for(item.photo), class: 'fit-image' %>
      </div>
    <% else %>
      <p>This item has no photo</p>
    <% end %>
  </div>
</div>
