<div id='<%= order_line_item.item_id%>'>
  <p>
    <strong id='#quantity'>Quantity: </strong>
    <%= link_to 'Add Item', order_restaurant_add_item_path(order_line_item.order.restaurant, order_line_item.item), remote: true %>
    <%= order_line_item.quantity_ordered %>
    <%= link_to 'Remove Item', order_restaurant_remove_item_path(order_line_item.order.restaurant, order_line_item.item), remote: true %>
  </p>
  <p><strong>Sub-Total: </strong><%= order_line_item.sub_total %></p>
  <%= render order_line_item.item, added_to_cart: true, enable_show: true %>
</div>
<hr/>
