<%= render 'devise/shared/error_messages', resource: category %>

<%= form_for category, local: true do |form| %>
  <p>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
