<div id='<%= line_item.item_id%>'>
  <p>
    <strong id='#quantity'>Quantity: </strong>
    <%= add_quantity_link 'Add Item', line_item %>
    <%= line_item.quantity_ordered %>
    <%= reduce_quantity_link 'Reduce Item', line_item %>
  </p>
  <p><strong>Sub-Total: </strong><%= line_item.sub_total %></p>
  <%= render line_item.item, added_to_cart: true, enable_show: true, remote: true %>
  <%= remove_from_cart_link 'Remove from Cart', line_item %>
</div>
